<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="masked"
                    converterClass="com.nybutik.shared.logging.SensitiveDataMaskingConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %masked%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <springProfile name="!local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.nybutik" level="INFO"/>
        <logger name="org.hibernate.SQL" level="WARN"/>
        <logger name="org.springframework.security" level="WARN"/>
    </springProfile>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.nybutik" level="DEBUG"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
    </springProfile>
</configuration>
